html{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: rgb(241, 246, 245);
}

header{
    background-color: rgb(75, 86, 210);
    color: white;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4em;
    text-align: center;
    /* -webkit-text-stroke: 3px navy;
    /* -webkit-text-stroke-color: red; */
    -webkit-text-fill-color: rgb(232, 241, 242); */
}

.container{
    /*PARA PODER CENTRAR BIEN MIS ARTICULOS, LE DOY UN ANCHO AL CONTAINER DE LOS POSTS
     IGUAL AL DE LAS IMAGENES DE PRESENTACION DEL ARTICULO */
    width: 400px; 
    margin: 0 auto;
}

section article{
    transition: all 0.4s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.2rem 0;
    cursor: pointer;
}

section article h2{
    color: #472183;
}

section article h2, section article p{
    margin: 1rem;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow:hidden;
}

section article:hover{
    /*COMO LE PONGO SOMBRA A UN ELEMENTO? ↓*/
    box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 30, 0.5);
}

footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section{
    float: right;
}

footer p{
    margin:0;
}

footer a{
    transition: color 0.3s linear;
    color: white;
    text-decoration: none;
    margin: 1rem;
}

footer a:hover{
    color: cornflowerblue;
}