#titulo{
    color: tomato;
}

p.especial{
    color: mediumaquamarine;
}

/*Sigue estando la misma jerarquía que habia aprendido, pero cuando se encuentran dos estilos en el mismo nivel se define por el orden dentro del archivo CSS
Lo último del código es lo último que se ejecuta, por ende es lo que va a quedar.*/

p.texto{
    color: slateblue;
}

/*Si pongo div p, quiero decir todos los p que se encuentren dentro de un div, sean o no hijos directos.*/ 
div p{
    color: mediumseagreen;
}

/*Puedo poner propiedades a varias etiquetas usando la , */

div h2, div h3{
    color: brown;
}

*{
    font-size: 20px;
    /* color: black; */
}
/*
.color{
    #000 = Escala RGB(#000 = Red, Green, Blue) f es la mayor expresion (blanco) y 0 la menor(negro)
    #000000 = Escala RGB avanzada(00 RED | 00 BLUE | 00 GREEN )
    color: #FF0000;
} 
*/
/* .color{
    Esta es la propiedad que en realidad debería usar, es la que esta mas completa, generalmente es la que usan 
    los diseñadores.
    color: rgb(122, 0, 0);
} */

.color{
    /* border: 5px mediumpurple groove; */
    /*
        2d ↓
        dotted | dashed | solid | hidden | double | none
        3D ↓
        groove | ridge | inset | outset
    */
    border-style: outset;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem;
    /*Las mejores medidas son las relativas al tamaño de la fuente: em, y rem
    rem es relativa al tamaño de la fuente de la etiqueta HTML, es igual para todas las etiquetas
    em es relativo al tamaño de la fuente que tiene ese elemento en particular.*/
}

#fondo{
    /*Otra manera de poner colores es con rbga, siendo la a el valor de la opacidad del color. 
    Si tienes negro con opacidad de 0.35 que parece gris, no es gris, en negro transparente 
    que muestra objetos que hay detrás.*/
    background-color: rgba(255, 0, 0);
    /*Opacity le da transparencia al elemento (etiqueta) completo, y no solo al color del background, si no tambien al texto etc.*/ 
    /* opacity: 0.3; */
    height: 400px;/*Esto es para ponerle height al background como tal, el width lo agarra dependiendo del tamaño de la pantalla si no lo asignas.*/
    background-image: url('img/Industria.png');
    /*background size nos permite redimensionar la imagen que nosotros tengamos de fondo.*/
    background-size:100px 100px ;/*esto lo que cmabia es el tamaño de la imagen.
                    auto = auto
                    cover = cubre el ancho completo la imagen
                    contain
                    200px 200px = width y height del background.*/
    background-repeat: repeat-y;
    /*Si no quiero que se repita la imagen uso: no-repeat
      Si quiero que se repita en el eje x: repeat-x
      Si quiero que se repita en el eje y: repeat-y*/
      
      background-position: center top; 
      /* Para cambiar la posicion en la que empieza a repetirse nuestra imagen uso background position.
      primer valor = eje horizontal(left, right, center), 
      segundo valor = eje vertical(top, bottom, center) 
      tambien se le pueden dar a los valores, cm,in, px, etc.
      dependiendo del valor que le demos entonces va posicionado en un lugar exacto.*/
      /* background:rgba(255, 0, 0) url(img/Industria.png) repeat-y center center / 150 px 150 px
      Si queremos usar la propiedad de background size uso el / despues de la posicion para indicar el tamaño de la imagen.*/
    }
    
    /*La propiedad de margin nos permite tener un espacio por fuera de los elementos que nosotros definamos de HTML*/
.margen{
        background-color: chocolate;
        /*Asi se organizan los margenes dentro de margin.
         margin: top right bottom left;
         si le pongo un solo valor lo toma para todos.
         si le pongo dos valores, el primero lo toma para lo vertical y el segundo para lo horizontal 
         si pongo tres valores el primero va para top, segundo para los dos horizontales y el tercero para bottom.*/
        /*El box model de las etiquetas de HTML se compone de un margin, un border, un padding y un contenido.*/
        margin: 20px;
        /*El padding es el relleno que esta afuera del background, es como un margin con color.*/
        padding: 30px 15px 5px;
        /*El border se posiciona entre el padding y el margin*/
        border: 1px solid black;
        /*Height y width son las propiedades que se usan para referirse al ancho y la altura del contenido como tal.*/
        height: 100px;
        width: 50px;
        /*Para modificar como se ve el texto dentro del elemento HTML.*/
        overflow: hidden;
        /*visible viene por defecto y no importa si el texto sale del elemento, siempre lo muestra.
          hidden esconde el texto que sale del elemento.
          scroll nos habilita un scroll para navegar dentro del elemento para ver el texto contenido dentro de este.*/
          outline: 1px solid mediumaquamarine ;/*Es como un border que esta fuera del border. tienes los mismos atributos.  */
    }

.text{  
        /*Fuentes custom:*/
        font-family: 'Martian Mono', monospace;
        /*Las fuentes que te traes de google fonts, tienen que estar en comillas simples.
        Para traerte las fuentes lo unico que tienes que hacer es elegirla de google fonts, y poner la API en el HTML*/
        text-align: center;
         /*Nos sirve para centrar, justificar, poner a la izquierda o a la derecha nuestro texto.*/
         text-decoration: overline;
                        /*line through: una linea en el medio.
                          none: nada tiene en el medio.
                          underline: subrayado
                          overline: linea por encima del texto
                        */
        /*Estos textos pueden tener una sombra con esta propiedad.*/
        text-shadow: 2px 2px 4px blueviolet;
        /*primera medida: cuanto se movera hacia la derecha.
        segunda medida: cuanto se movera la sombra hacia abajo.
        tercera medida: cantidad de blur a agregar a la sombra.*/
    }

/*PROPIEDAD LINK Y SUS ESTADOS*/
/*LOS ESTADOS DEL LINK TIENEN QUE IR EN ESTE ORDEN EN PARTICULAR
  a estos selectores se les puede agregar */

a:link {/*CUANDO NO HA SIDO VISITADO*/
    color:blueviolet;
    text-decoration: none;
}

a:visited {/*CUANDO YA HA SIDO VISITADO*/
    color:gray;
    text-decoration: none;
}

a:hover {/*CUANDO EL CURSOR ESTA ARRIBA DEL LINK*/
    color:yellow;
}

a:active{/*CUANDO ESTOY PINCHANDO EL LINK*/
    color:red;
}

ul{
    background-color: cyan;
    list-style-type: none;/*para quitar los bullets*/
    /* padding-left: 0; *//*La lista veiene ocn un padding left de 40 px por defecto.*/
    /* list-style-position: inside;  *//*Pongo los bullets dentro de la caja de contenido de la lista.*/
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #eee;
    padding: 4px;
}

th{
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:nth-child(even):hover{
    background-color: rgb(204, 204, 204);
}

tr:hover{
    background-color: #fcc;
    cursor: pointer;
}

/*display: block es la propiedad por defecto de la mayoría de etiquetas*/
span{
    display: block;
    /* display: none; para esconder las etiqeutas */
    /* visibility: hidden;con esto también puedo ocultar etiquetas. */
    background-color: red;
    max-width: 500px;
}

/*display: inline es la propiedad por defecto de los span, anchor tags o links(a), y la etiqueta de img */
.inline{
    display: inline;
}

#position{
    position: sticky;/*por defecto es static*/
    /* relative, es una posicion relativa a donde debiese estar posicionado este elemento. 
    relative me habilita poder posicionar mi etiqueta con las propiedades left, right, top, y bottom. */
    /*Fixed se usa para dejar la etiqueta pegada durante todo el mvoimiento de la pagina, 
    se usa generalmente para los menus que se quedan pegados a la izquierda o barras de navgeacion de arriba.*/
    /*absolute hara que la etiqueta se pegue a la etiqueta padre mas cercana*/
    /*Sticky es como fixed, pero se va con el scroll cuando estas bajando y aparece en pantalla y vuelve a su lugar si subes
    Bastante interesante*/
    left: 20px;
    top: 20px;
}

.left{
    float: left;
    width: 200px;
    height: 200px;
}

.right{
    float:right;
}

.container{
    height: 200px;
}

.column{
    margin: 0;
    padding: 20px 0;
    width: 33.3%;
}

.inline-block{
    display: inline-block;/*A la propiedad de inline normal no se le puede asignar ni height ni width.*/
    /*INLINE BLOCK SE USA GENERALMENTE PARA MENUS DE NAVEGACION, PARA PONER UNA PROPIEDAD DE ANCHO Y QUE 
    TODOS LOS ELEMENTOS SE VEAN IGUALES.*/
    height: 55px;
    background-color: red;
}

/*PARA CENTRAR UN ELEMENTO SIEMPRE HAY QUE DARLE UN ANCHO MENOR AL 100%*/
.center{
    width: 200px;
    margin: 0 auto;
    background-color: aqua;
    /*COMO PUEDO CENTRAR EL TEXTO DENTRO DEL ELEMENTO? ↓*/
    text-align: center;
    /*COMO PUEDO CENTRAR VERTICALMENTE MI ELEMENTO? ↓*/
    /*No le das un alto, y le das un padding vertical*/
    padding: 50px 0;
}